Repository bcgov/citz-imb-slam-app, pull requests merged in 2022-05, with the labels that each got.

#55 updated concurrency
  .github/workflows/dev-app-build-deploy.yaml
Labels: github

#56 IOD-116 Typo
  .github/workflows/test-app-deploy.yaml
Labels: github

#57 IOD-121 Create Action for PROD Deploy
  .github/workflows/prod-app-deploy.yaml
Labels: github, openshift

#58 Iod 205
  src/api/common/fetchAPI.js
Labels: breaking change, DO NOT MERGE

#59 Creating Openshift Service Template
  openshift/templates/citz-imb-slam-app/service.yaml
Labels: openshift

#63 fix variable name collision
  src/hooks/useLicensees/useLicensees.js
Labels: bug

#64 IOD81-search
  package-lock.json
  package.json
  src/components/table/TableContainer.jsx
  src/styles/scss/components/_forms.scss
  src/styles/scss/components/_tables.scss
Labels: frontend
