Repository bcgov/citz-imb-slam-app, pull requests merged in 2022-04, with the labels that each got.

#10 IOD-137/138 Fix Build Warning/Errors
  src/components/formik/common/FormikControls.jsx
  src/components/formik/inputs/DropdownFormikControl.jsx
Labels: bug

#12 Create pull_request_template.md
  .github/pull_request_template.md
Labels: documentation, github

#7 IOD-134 - Dependabot Alert
  .github/dependabot.yml
Labels: github

#18 IOD-109 env-template added to repositories, gitignore includes .env
  .env-template
  .gitignore
Labels: good first issue, configuration

#24 IOD-103 Navigation added
  package-lock.json
  src/assets/images/slam-logo.png
  src/components/common/UserMenu.jsx
  src/components/index.js
  src/components/navigation/Navigation.jsx
  src/styles/scss/components/_colors.scss
  src/styles/scss/components/_navigation.scss
Labels: fronted, scss

#22 Create Code_of_Conduct.md
  Code_of_Conduct.md
Labels: documentation

#23 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#32 fixes IOD-100
  src/components/common/DateCell.jsx
  src/hooks/useSoftware/softwareFields.js
  src/hooks/useSoftware/useSoftware.js
Labels: enhancement, frontend

#26 IOD-5 view license
  src/assets/images/adobe.png
  src/assets/images/powerbi.png
  src/components/buttons/SaveCancelButtons.jsx
  src/components/common/PlainChip.jsx
  src/components/common/SoftwareCell.jsx
  src/components/formik/FormikContainer.jsx
  src/components/formik/common/BaseControl.jsx
  src/components/formik/common/FormHeader.jsx
  src/components/formik/inputs/SelectChipFormikControl.jsx
  src/components/index.js
  src/components/table/TableContainer.jsx
  src/components/table/common/TableHeader.jsx
  src/hooks/useLicensees/licenseeFields.js
  src/hooks/useLicensees/useLicensees.js
  src/pages/licensees/index.jsx
  src/styles/scss/base/_variables.scss
  src/styles/scss/components/_buttons.scss
  src/styles/scss/components/_forms.scss
  src/styles/scss/components/_sections.scss
  src/styles/scss/components/_tables.scss
Labels: enhancement, frontend, scss

#36 IOD-192
  .prettierrc
  public/slam-logo.png
  src/assets/images/adobe.png
  src/assets/images/adobecc.png
  src/assets/images/cmslite.png
  src/assets/images/docker.png
  src/assets/images/mural.png
  src/assets/images/openshift.png
  src/assets/images/powerbi.png
  src/assets/images/rocketchat.png
  src/assets/images/visualstudio.png
  src/assets/index.js
  src/components/common/DateCell.jsx
  src/components/common/LogoAvatar.jsx
  src/components/common/QuantityAssigned.jsx
  src/components/index.js
  src/components/table/TableContainer.jsx
  src/hooks/index.js
  src/hooks/useForm/setFormFields.js
  src/hooks/useLicensees/licenseeFields.js
  src/hooks/useLogo.js
  src/hooks/useSoftware/softwareFields.js
  src/pages/licensees/index.jsx
  src/pages/software/index.jsx
  src/styles/scss/components/_tables.scss
Labels: enhancement, frontend, scss

#35 Iod 79
  src/components/formik/FormikContainer.jsx
  src/hooks/useLicensees/useLicensees.js
Labels: enhancement, frontend

#39 IOD-119 Create Git Action for docker image build, deploy to DEV
  .github/helpers/application-health.sh
  .github/helpers/deploy-app.sh
  .github/workflows/dev-app-build-deploy.yaml
Labels: github

#37 IOD-109 Dockerize + docker-compose for Frontend Application
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yaml
  next.config.js
Labels: docker, breaking change

#38 IOD-125 Create DeploymentConfig object
  openshift/templates/citz-imdb-slam-app/dc.yaml
Labels: openshift

#40 typo
  .github/workflows/dev-app-build-deploy.yaml
Labels: github

#41 adding +x to file perms to run in actions
  .github/workflows/dev-app-build-deploy.yaml
Labels: github

#42 Correct File permissions for helpers
  .github/helpers/application-health.sh
  .github/helpers/deploy-app.sh
Labels: github

#43 Renaming Filepath
  openshift/templates/citz-imb-slam-app/dc.yaml
Labels: github

#44 IOD-120 Create Git ACtion for TEST deploy
  .github/workflows/dev-app-build-deploy.yaml
  .github/workflows/test-app-deploy.yaml
Labels: github

#45 IOD-94 View Licensees by title
  package-lock.json
  src/components/buttons/SaveCancelButtons.jsx
  src/components/common/ListMenu.jsx
  src/components/common/PlainChip.jsx
  src/components/formik/FormikContainer.jsx
  src/components/formik/common/BaseControl.jsx
  src/components/formik/common/FormikControls.jsx
  src/components/formik/inputs/UserItemControl.jsx
  src/components/formik/inputs/UserListControl.jsx
  src/components/index.js
  src/components/table/TableContainer.jsx
  src/constants/index.js
  src/hooks/useForm/useForm.js
  src/hooks/useLicensees/licenseeFields.js
  src/hooks/useLicensees/useLicensees.js
  src/hooks/useSoftware/softwareFields.js
  src/hooks/useSoftware/useSoftware.js
  src/pages/licensees/[id]/index.jsx
  src/pages/software/[id]/index.jsx
  src/styles/scss/components/_forms.scss
  src/styles/scss/components/_navigation.scss
  src/styles/scss/components/_tables.scss
Labels: frontend, scss

#47 Updating Image Location in Deployment Config
  openshift/templates/citz-imb-slam-app/dc.yaml
Labels: openshift

#51 Adding File Permissions to Shell Scripts
  .github/helpers/application-health.sh
  .github/helpers/deploy-app.sh
  .github/workflows/build.yml
  .github/workflows/cicd.yml
  .github/workflows/deploy.yml
Labels: github
